
    /* Header */
header {
    position: relative;
    margin: 40px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
hr{
    height: 4px; 
    background-color: rgb(75, 70, 117);
}

    /* Books */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 95%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 128, 128, 0.274);
    box-shadow: 0px 0px 20px 20px rgba(0, 128, 128, 0.274);
    border-radius: 1%;
}
.new-book {
    margin: 20px;
    width: 345px;
    height: 200px;
    padding: 15px;
    background-color: rgba(64, 93, 224, 0.363);
    border-radius: 2%;
    font-size: 24px;
}

    /* Form to add a new book */
fieldset {
    margin: auto;
    margin-top: -30px;
    max-width: 1000px;
    font-size: 24px;
} 
@media only screen and (max-width:1080px){
    fieldset{width: 100px;}
}

    /* Buttons */
.darkMode {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(31, 30, 39);
    border-radius: 80%;
}            
#icon {
    position: absolute;
    right: 5px;
    top: 5px; 
    width: 30px;
    height: 30px;
    background-color: rgb(31, 30, 39);
    box-shadow: 15px -5px white inset;
    border-radius: 100%;
}
#iconText {
    position: absolute;
    top: 30px;
    left: -18px;
    width: 80px;
    text-align: left;
}

